<!DOCTYPE html>
<html lang="en" ng-app="seedApp">
<head>

	<base href="/"></base>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Simple route</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="IndexController">

  <span>{{span1}}</span>
  
  <span>{{version}}</span>

  <hr/>
  Choose:
  <a href="/">Home</a> |
  <a href="/about">About</a> |
  <a href="/some">Some</a> |
  <a href="/login">Login</a> |
  <a href="/logout">Logout</a><br/> 
  
  <div ng-view></div>

  <hr />
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/factories.js"></script>

</body>
</html>
