<!DOCTYPE html>
<html lang="en" ng-app="seedApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{titolo}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="TimeController">

  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  
  <p>{{instruction}}</p>
  Elemento: <input type="text" ng-model="elemento"/>
  <br/>
  <span>{{elemento}}</span>
  <br/>
  <input type="button" value="Click here using $apply" ng-click="updateElement()"/>
  <input type="button" value="Click here using $timeout service" ng-click="updateElementWithServiceTimeout()"/>
  <input type="button" value="Click here using $interval service" ng-click="updateElementWithIntervalService()"/>
  
  <span>{{lunghezza}}</span>
  
</body>
</html>
