<div>
	LOGIN PAGE <br/>
	Username: <input type="text" ng-model="username"/> <br/>
	Password: <input type="text" ng-model="password"/> <br/>
	
	<button ng-click="loginFunc()">Login</button> <br/>
	
</div>